body{
	margin: 0;
	padding: 0;
}

#root{
	height: 100vh;
	margin: 0;
	display: grid;


  	grid-template-columns: 20vw auto auto auto auto auto auto auto auto 10vw;
    grid-template-rows: 100px auto auto 100px;

    grid-template-areas:

    "grid-H    grid-B     grid-N      grid-N   grid-N   grid-B2     grid-B2     grid-B2          grid-L         grid-L "
    "  grid-S       grid-S        grid-S     grid-S    grid-S    grid-S   grid-S              grid-S             grid-S               grid-S "
		"  grid-A       grid-A         grid-A     grid-A    grid-A    grid-A   grid-A              grid-A             grid-A               grid-A "
    "grid-F    grid-F     grid-F       grid-F   grid-F   grid-F    grid-F       grid-F         grid-F          grid-F"
	;

	font-family: sans-serif;
    line-height: 1.2em;
}
footer{
  grid-area: grid-F;
  background-color: #40798C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p{
  margin:0;
	color: #00c5ffff;
}

header{
	grid-area: grid-H;
	display: flex;
	justify-content: space-around;
  align-items: center;
	background-color: #40798C;
}

.headerImage img{
  height: 80px;
}

.flex{
	flex:1;
}

.login{
	grid-area: grid-L;
	background-color: none;
	display: flex;
	justify-content:space-around;
  align-items: center;
	background-color: #40798C;

}

#butt{
	text-decoration: none;
	color: #9EC1A3;
	font-size: 18pt;
}
#butt:hover{
	color: blue;
}

nav{
	grid-area: grid-N;
	display: flex;
	background-color: #40798C;

}
nav ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

nav ul a{
	text-decoration: none;
	color: #00c5ffff;
	font-size: 18pt;
}
nav ul a:hover{
	color: blue;
}

.blue{
	grid-area: grid-B;
	background-color: #40798C;
}
.blue2{
	grid-area: grid-B2;
	background-color: #40798C;
}

section{
	grid-area: grid-S;
	display: flex;
	flex-direction: column;
	height: auto;/*calc(50vh - 100px);*/

	/*justify-content: center;*/
	padding-top: 80px;
	padding-bottom: 50px;
	/*width: 60vw;*/
	/*justify-content: center;*/
	align-items: center;
}

.sec{
	margin-left: 10%;
	margin-right: 10%;
}

section div{
	display: flex;
	flex-direction: column;
}

section div h2{
	color: #FF6B35;
	align-self: center;
  padding-bottom: 30px;
}

aside{
	grid-area: grid-A;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  padding-bottom: 80px;
}
aside img{
	height: 300px;
}

h1{
	color: #FF6B35;
	align-self: center;
  padding-bottom: 20px;
}
h2{
	color: #c3613d;
	align-self: center;
}

.boxes{
	width: 70vw;
	display: flex;
	flex-direction: row !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-self: center;
}

.dustbin div div p{
	color: darkgray;
	margin-top: 25%;
}

.dustbin{
	overflow-x: scroll;
	margin-bottom: 30px;
}

.wrapper{
	width: 70%;
	align-items: center;
	display: inline;
}

section button{
	align-self: flex-end;
	 margin-right: 5%;
	 margin-top: 3%;
}
.main{
 width:	100%;
}
.rel{
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.quiz{
	padding-top: 40px;
}

.row{
  display: flex !important;
	flex-direction: row;
  margin: 0px;
	width: 100%;
}

.row>label{
	margin-top: auto;
	margin-bottom: auto;
	color: #71412f;
}
.row>div>.form-control{
	display: flex;
	flex-direction: row !important;
}

.button-row{
	flex-direction: row;
	padding-top: 0px;
	margin-bottom: 30px;
}

.btn{
		margin: 0px;
}

.progress{
	flex-direction: row;
}

.reaction-form{
	margin-top: 20px;
	width: 100%;
}

input[type="file"]{
	color: transparent;
	margin-top: 100px;
	margin-left: 20px;
}

.remove-img{
	position: absolute;
	background-color: transparent;
	color: #FF6B35;
	font-weight: bold;
	border: 0px;
	border-radius: 10px;
	padding: 0px;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
}

.remove-img:hover{
	background-color: #FF6B35;
	color: white;
	right: 0;
}

.enlarge-reaction{
	background-color: transparent;
	color: #555;
	font-size: 30px;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid #555;
}

.custom{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	grid-area: grid-S;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	align-items: center;
}

.error{
	color: red !important;
	font-size: 12px;
	font-weight: bold;
	margin-left: auto;
}

.note{
	font-size: 12px;
	font-weight: bold;
}

.w-100{
	width: 100%;
}

.m-r-10{
	margin-right: 10px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-b-10{
	margin-bottom: 20px;
}
