body{
	margin: 0;
	padding: 0;
}

#root{
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: grid;


  	//grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto 120px;

    grid-template-areas:

    "grid-H    grid-H     grid-H      grid-H   grid-H   grid-H     grid-H     grid-H          grid-H         grid-H "
    "  grid-S       grid-S        grid-S     grid-S    grid-S    grid-S   grid-S              grid-S             grid-S               grid-S "
		"  grid-A       grid-A         grid-A     grid-A    grid-A    grid-A   grid-A              grid-A             grid-A               grid-A "
    "grid-F    grid-F     grid-F       grid-F   grid-F   grid-F    grid-F       grid-F         grid-F          grid-F"
	;

	font-family: sans-serif;
    line-height: 1.2em;
}
footer{
  grid-area: grid-F;
  background-color: #40798C;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 150px;
}
footer p{
  margin:3px;
	color: white;
}

.iconbox {
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
	margin: 3px;
}

#ico {
	color: white;
	font-size: 1.8em;
	padding: 15px 25px 0 25px;
}

#ico:hover {
	color: #9EC1A3;
}

header{
	grid-area: grid-H;
	display: flex;
	justify-content: space-around;
  align-items: center;
	background-color: #40798C;
	height: 100px;
}
.headerImage{
	margin: 0.5%;
}
.headerImage img{
  height: 80px;
}

.headerImage:hover {
    cursor: pointer;
}

.login{
	grid-area: grid-L;
	background-color: none;
	display: flex;
	justify-content:space-around;
  align-items: center;
	background-color: #40798C;
}

#butt{
	text-decoration: none;
	color: #9EC1A3;
	font-size: 1.5em;
}
#butt:hover{
	color: white;
}

nav{
	width: 80%;
	display: flex;
	background-color: #40798C;

}
nav ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.nav-link{
	text-decoration: none;
	font-size: 1.5em;
	border-radius: 22px;
	transition: background-color 0.4s;
}

.nav-link:hover {
	background-color: #59a8c2;
}

.nav-tabs>li>a{
	color: #c3613d !important;
	border-radius: 0px;
}
.nav-tabs>li>a.active{
	color: #FF6B35 !important;
	font-weight: bold;
	border-radius: 0px;
}

.nav-tabs>li>a.active:hover{
	text-decoration: none !important;
}

.nav-tabs>li>a:hover{
	cursor: pointer;
	border-radius: 0px;
	text-decoration: underline !important;
	background-color: transparent !important;
}

.tab-pane>div>div>label{
	color: #71412f;
	padding-top: 5px;

}

nav ul a.active{
	background-color: #59a8c2;
}

section{
	grid-area: grid-S;
	display: flex;
	flex-direction: column;
	height: auto;/*calc(50vh - 100px);*/

	/*justify-content: center;*/
	padding-top: 80px;
	padding-bottom: 50px;
	/*width: 60vw;*/
	/*justify-content: center;*/
	align-items: center;
}

.sec{
	margin-left: 10%;
	margin-right: 10%;
}

section div{
	display: flex;
	flex-direction: column;
}

section div h2{
	color: #FF6B35;
	align-self: center;
  padding-bottom: 30px;

}

aside{
	grid-area: grid-A;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  padding-bottom: 80px;
}
aside img{
	height: 300px;
}

aside img.try {
	transition: opacity .5s ease;
}

aside img.try:hover {
    cursor: pointer;
}

h1{
	color: #FF6B35;
	align-self: center;
  padding-bottom: 20px;
}
h2{
	color: #c3613d;
	align-self: center;
}

.boxes{
	width: 70vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-self: center;
}



.dustbin div div p{
	color: rgba(255, 0, 0, 0.7);
	font-weight: bold;
	margin-top: 27%;
}

.dustbin{
	overflow-x: scroll;
	margin-bottom: 30px;
}

.wrapper{
	width: 70%;
	align-items: center;
	display: inline;
}

section button{
	align-self: flex-end;
	 margin-right: 5%;
	 margin-top: 3%;
}
.main{
 width:	100%;
}
.rel{
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.quiz{
	padding-top: 40px;
}

.row{
  display: flex !important;
	flex-direction: row;
  margin: 0px;
	width: 100%;
}

.row>label{
	margin-top: auto;
	margin-bottom: auto;
	color: #71412f;
}
.row>div>.form-control{
	display: flex;
	flex-direction: row !important;
}


.button-row{
	flex-direction: row;
	padding-top: 0px;
	margin-bottom: 30px;
}

.btn{
		margin: 0px;
}

.progress{
	flex-direction: row;
}

.collapse.show.navbar-collapse{
	background-color: #40798C;
	width: 100%;
}


@media all and (max-width: 760px) {
	#root{
		height: 100vh;
		width: 100vw;
		margin: 0;
		display: grid;

	  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	  grid-template-rows: auto auto auto 160px;

	  grid-template-areas:

	  "grid-H    grid-H     grid-H      grid-H   grid-H   grid-H     grid-H     grid-H          grid-H         grid-H "
	  "  grid-S       grid-S        grid-S     grid-S    grid-S    grid-S   grid-S              grid-S             grid-S               grid-S "
		"grid-F    grid-F     grid-F       grid-F   grid-F   grid-F    grid-F       grid-F         grid-F          grid-F"
		;
	}

	.headerImage{
		height: 100px;
		padding: 3%;
	}

	header{
		height: auto;
	}
  section {
		margin-top: 20px;
		margin-bottom: 50px;
  }

	aside{
		display: none;
	}

	.navbar-toggler-icon{
		width: 30px;
		height: 30px;
	}
	nav button{
		margin-top: 11%;
		margin-bottom: 11%;
		margin-left: 75%;
	}
}

.flex{
	flex:1;
}


.reaction-form{
	margin-top: 20px;
	width: 100%;
}

input[type="file"]{
	color: transparent;
	margin-top: 100px;
	margin-left: 20px;
}

.remove-img{
	position: absolute;
	background-color: transparent;
	color: #FF6B35;
	font-weight: bold;
	border: 0px;
	border-radius: 10px;
	padding: 0px;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
}

.remove-img:hover{
	background-color: #FF6B35;
	color: white;
	right: 0;
}

.enlarge-reaction{
	background-color: transparent;
	color: #555;
	font-size: 30px;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid #555;
}

.custom{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	grid-area: grid-S;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	align-items: center;
}

.error{
	color: red !important;
	font-size: 12px;
	font-weight: bold;
	margin-left: auto;
}

.note{
	font-size: 12px;
	font-weight: bold;
}

.w-100{
	width: 100%;
}

.m-r-10{
	margin-right: 10px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-b-10{
	margin-bottom: 20px;
}

.m-l-auto{
	margin-left: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto{
	padding: 0px;
}
